*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.nav{
    margin: 0;
    background-color: aquamarine;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 15px;
    align-items: center;
    
 
}
li{
    cursor: pointer;
}
a {
    color: rgb(113, 116, 116);
    text-decoration: none;
}
.wapper{
    background-color: rgb(143, 173, 61);
    width: 60vw;
    height: 84vh;
    margin: auto;
  display: grid;
  place-items: center; 
  border-radius: 0px 0px 8px 8px;
  padding: 1.5rem;
}
h1{
    color: aliceblue;
    text-align: center;
   font-size: 14px;
 
}
.container{ 
    background-color:rgba(59, 125, 224, 0.726);
    margin-top: 45px;
    width: 50vw;
    height: 78VH;
    border-radius:8px ;
    text-align: center;
}
#formcard {
    background-color: rgb(243, 124, 227); 
    padding: 12px;
    border-radius: 8px 8px 0px 0px;
}

    
.box{
    margin: 12px;
    box-sizing: border-box;
    width: 30vw;
    height: 3vh;
    outline: none;
    align-items: center;
    border-radius: 8px;
    border: none;

}
.ati{
    font-size: 12px;
    margin-top: 10px;
    color:rgb(12, 12, 12);
    
}
#sec{
     font-style:italic ;
    outline: none;
    margin: 15px;
    padding: 0.25rem;
    outline: none;
    text-decoration: none;
    border: none;
    border-radius: 8px;

}
.blur{
  margin: 0.5rem;
  padding: 6px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.3);
}
.radio{
    margin: 0.5rem;
    padding: 0.25rem;
    background-color: rgba(0, 0, 0, 0.1);
}

